.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--main-gap) - var(--search-block-height));
}

.image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: 1s linear 0s normal none infinite running spin;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
