.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 1);
  width: 90%;
  padding: 10px 20px;
  min-height: calc(100vh - var(--main-gap) - var(--search-block-height));
  border-radius: 20px 20px 0 0;
  font-size: 2rem
}

.content{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  justify-content: space-evenly;
}

.loaded{
  font-size: 1.17em;
  font-weight: 700;
}

.button{
  width: 100%;
  max-width: 200px;
  height: 5rem;
  font-size: 2rem;
  align-self: center;
  border: 1px solid black;
  cursor: pointer;
  background: #c7d2c7;
  transition: opacity .5s;
}

.button:hover{
  opacity: .6;
}
