.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 1);
  width: 90%;
  padding: 10px 20px;
  min-height: calc(100vh - var(--main-gap) - var(--search-block-height));
  border-radius: 20px 20px 0 0;
  font-size: 2rem
}

.content{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.loaded{
  font-size: 1.17em;
  font-weight: 700;
}

@media (max-width: 780px) {
  .content{
    justify-content: center;
  }
}
