.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #d6cece;
  width: 70%;
}

.formContent{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 720px;
}
