.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  /*background-color: #d6cece;*/
  background-image: url('../../images/gif2.gif');
  background-size: contain;
  width: 70%;
  border-radius: 0 0 20px 20px;
  max-width: 1344px;
}

.formContent{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 720px;
}

.search{
  height: 5rem;
  width: 100%;
  font-size: 2.5rem;
  padding-left: 20px;
  z-index: 1;
}

.searchSet{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchSet select{
  width: 49%;
  height: 4rem;
  font-size: 2rem;
  padding-left: 20px;
}

.submitButton {
  width: 50%;
  height: 4rem;
  font-size: 2rem;
  align-self: center;
  border: 1px solid black;
  cursor: pointer;
  background: #22ed18
}

.submitButton:disabled{
  background-color: rgb(211, 211, 211);
  opacity: 0.9;
}

.inputImage{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
}

@media (max-width: 780px) {
  .searchSet{
    flex-direction: column;
    width: 100%;
    align-self: center;
    gap: 10px;
  }

  .searchSet select{
    width: 100%;
  }

  .submitButton {
    width: 100%;
  }
}
