:root{
  --image-filter: drop-shadow(10px 10px 4px #aaaaa9ff);
  --search-block-height: 0;
  --main-gap: 40px;
}

*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

input, select, button {
  border-radius: 10px
}

@media (max-width: 780px) {
  html{
    font-size: 8px;
  }
}

@media (max-width: 440px) {
  html{
    font-size: 6px;
  }
}
